In [ ]:
#Soorten misdrijven

In [102]:
import pandas as pd
import numpy as np

In [103]:
data = pd.read_csv('/Users/bert/Desktop/Projecten/amsterdam_p/Misdrijven/soortmisdrijven.csv', sep=';')

In [104]:
data.head(15)

,Soort misdrijf,2015,2016,2017,2018,2019,Unnamed: 6,2015.1,2016.1,2017.1,...,2016.2,2017.2,2018.2,2019.2,Unnamed: 18,2015.3,2016.3,2017.3,2018.3,2019.3
0,Diefstal/inbraak woning,58,47,43,46,42,NaN,146,99,123,...,130,152,119,102,NaN,259,183,141,151,156
1,Diefstal/inbraak box/garage/schuur/tuinhuis,8,4,4,1,3,NaN,14,7,6,...,11,10,4,7,NaN,15,14,14,23,10
2,Diefstal uit/vanaf motorvoertuigen,46,35,36,32,21,NaN,116,82,106,...,108,128,96,60,NaN,118,75,75,73,88
3,Diefstal van motorvoertuigen,14,14,8,20,15,NaN,46,36,30,...,42,36,43,44,NaN,59,36,46,49,31
4,"Diefstal van brom-, snor-, fietsen",165,139,108,77,68,NaN,112,87,72,...,207,167,113,106,NaN,401,391,268,239,190
5,Zakkenrollerij,23,17,19,20,30,NaN,89,93,96,...,104,112,96,101,NaN,263,245,233,173,130
6,Diefstal af/uit/van overige voertuigen,19,15,14,19,10,NaN,25,24,14,...,35,25,27,16,NaN,38,21,25,39,13
7,Zedenmisdrijf,27,22,13,9,16,NaN,51,33,53,...,54,65,44,56,NaN,217,223,172,145,119
8,"(poging) moord, doodslag",16,12,14,16,19,NaN,48,59,46,...,69,55,58,60,NaN,198,196,144,145,141
9,Openlijk geweld (persoon),46,70,53,31,45,NaN,108,122,83,...,173,123,94,107,NaN,112,119,90,80,82
10,Bedreiging,156,134,92,73,89,NaN,375,363,281,...,483,367,286,318,NaN,1892,1604,1194,1151,1220
11,Mishandeling,213,202,172,147,144,NaN,686,600,504,...,789,668,584,543,NaN,2422,2199,1882,1661,1607
12,Straatroof,116,111,84,102,136,NaN,121,106,66,...,201,135,160,198,NaN,111,98,72,78,75
13,Overval,26,13,28,32,28,NaN,30,28,30,...,36,51,54,50,NaN,31,22,28,30,20
14,Diefstallen (water),5,1,3,1,0,NaN,9,4,2,...,5,4,3,2,NaN,14,16,15,14,7

In [105]:
#First we need to delete the columns with the NaN values. 
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

drop_cols = list(null_cols[null_cols > 10].index)
data = data.drop(drop_cols, axis=1)
data.head(15)

,Soort misdrijf,2015,2016,2017,2018,2019,2015.1,2016.1,2017.1,2018.1,...,2015.2,2016.2,2017.2,2018.2,2019.2,2015.3,2016.3,2017.3,2018.3,2019.3
0,Diefstal/inbraak woning,58,47,43,46,42,146,99,123,81,...,191,130,152,119,102,259,183,141,151,156
1,Diefstal/inbraak box/garage/schuur/tuinhuis,8,4,4,1,3,14,7,6,4,...,18,11,10,4,7,15,14,14,23,10
2,Diefstal uit/vanaf motorvoertuigen,46,35,36,32,21,116,82,106,76,...,144,108,128,96,60,118,75,75,73,88
3,Diefstal van motorvoertuigen,14,14,8,20,15,46,36,30,27,...,54,42,36,43,44,59,36,46,49,31
4,"Diefstal van brom-, snor-, fietsen",165,139,108,77,68,112,87,72,42,...,265,207,167,113,106,401,391,268,239,190
5,Zakkenrollerij,23,17,19,20,30,89,93,96,82,...,107,104,112,96,101,263,245,233,173,130
6,Diefstal af/uit/van overige voertuigen,19,15,14,19,10,25,24,14,10,...,43,35,25,27,16,38,21,25,39,13
7,Zedenmisdrijf,27,22,13,9,16,51,33,53,37,...,77,54,65,44,56,217,223,172,145,119
8,"(poging) moord, doodslag",16,12,14,16,19,48,59,46,48,...,60,69,55,58,60,198,196,144,145,141
9,Openlijk geweld (persoon),46,70,53,31,45,108,122,83,73,...,136,173,123,94,107,112,119,90,80,82
10,Bedreiging,156,134,92,73,89,375,363,281,222,...,527,483,367,286,318,1892,1604,1194,1151,1220
11,Mishandeling,213,202,172,147,144,686,600,504,449,...,883,789,668,584,543,2422,2199,1882,1661,1607
12,Straatroof,116,111,84,102,136,121,106,66,83,...,213,201,135,160,198,111,98,72,78,75
13,Overval,26,13,28,32,28,30,28,30,28,...,47,36,51,54,50,31,22,28,30,20
14,Diefstallen (water),5,1,3,1,0,9,4,2,3,...,12,5,4,3,2,14,16,15,14,7

In [106]:
#Then we only need the crimes that are commit in the same 2 groups. 

data['12-24'] = data['2015.2']+ data['2016.2']+ data['2017.2']+ data['2018.2'] + data['2019.2']

data['25+'] = data['2015.3']+ data['2016.3']+ data['2017.3']+ data['2018.3'] + data['2019.3']

In [107]:
#Then we go to select the columns we need.

data_verwerkt = data[['Soort misdrijf', '12-24', '25+']]
data_verwerkt

                                 Soort misdrijf  12-24    25+
0                       Diefstal/inbraak woning    694    890
1   Diefstal/inbraak box/garage/schuur/tuinhuis     50     76
2            Diefstal uit/vanaf motorvoertuigen    536    429
3                  Diefstal van motorvoertuigen    219    221
4            Diefstal van brom-, snor-, fietsen    858   1489
5                                Zakkenrollerij    520   1044
6        Diefstal af/uit/van overige voertuigen    146    136
7                                 Zedenmisdrijf    296    876
8                      (poging) moord, doodslag    302    824
9                     Openlijk geweld (persoon)    633    483
10                                   Bedreiging   1981   7061
11                                 Mishandeling   3467   9771
12                                   Straatroof    907    434
13                                      Overval    238    131
14                          Diefstallen (water)     26     66
15                            Brand/ontploffing     79    193
16                    Overige vermogensdelicten   3691   5206
17              Vernieling cq. zaakbeschadiging   1646   3761
18                               Huisvredebreuk    176    865
19   Diefstal/inbraak bedrijven en instellingen    699   1162
20                               Winkeldiefstal   5674  15356
21                                  Drugshandel   2691   5473
22                          Onder invloed (weg)   2151   6104
23                           Horizontale fraude    889   1659
24                             Verticale fraude     18     74
25                               Overige fraude    364    485
26                                       Overig   6968  17562
27                                       Totaal  35919  81831

In [108]:

data_verwerkt['eindtotaal'] = data_verwerkt['12-24'] + data_verwerkt['25+'] 
data_verwerkt

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                 Soort misdrijf  12-24    25+  eindtotaal
0                       Diefstal/inbraak woning    694    890        1584
1   Diefstal/inbraak box/garage/schuur/tuinhuis     50     76         126
2            Diefstal uit/vanaf motorvoertuigen    536    429         965
3                  Diefstal van motorvoertuigen    219    221         440
4            Diefstal van brom-, snor-, fietsen    858   1489        2347
5                                Zakkenrollerij    520   1044        1564
6        Diefstal af/uit/van overige voertuigen    146    136         282
7                                 Zedenmisdrijf    296    876        1172
8                      (poging) moord, doodslag    302    824        1126
9                     Openlijk geweld (persoon)    633    483        1116
10                                   Bedreiging   1981   7061        9042
11                                 Mishandeling   3467   9771       13238
12                                   Straatroof    907    434        1341
13                                      Overval    238    131         369
14                          Diefstallen (water)     26     66          92
15                            Brand/ontploffing     79    193         272
16                    Overige vermogensdelicten   3691   5206        8897
17              Vernieling cq. zaakbeschadiging   1646   3761        5407
18                               Huisvredebreuk    176    865        1041
19   Diefstal/inbraak bedrijven en instellingen    699   1162        1861
20                               Winkeldiefstal   5674  15356       21030
21                                  Drugshandel   2691   5473        8164
22                          Onder invloed (weg)   2151   6104        8255
23                           Horizontale fraude    889   1659        2548
24                             Verticale fraude     18     74          92
25                               Overige fraude    364    485         849
26                                       Overig   6968  17562       24530
27                                       Totaal  35919  81831      117750

In [109]:
#Hoogste criminaliteit bij jongeren
crime = data_verwerkt.sort_values(by=['12-24'], ascending=False)
crime = crime.drop(27)
crime.head(6)

#Here I removed the total.

               Soort misdrijf  12-24    25+  eindtotaal
26                     Overig   6968  17562       24530
20             Winkeldiefstal   5674  15356       21030
16  Overige vermogensdelicten   3691   5206        8897
11               Mishandeling   3467   9771       13238
21                Drugshandel   2691   5473        8164
22        Onder invloed (weg)   2151   6104        8255

In [110]:
#Hoogste criminaliteit bij 25 plussers
crime_2 = data_verwerkt.sort_values(by=['25+'], ascending=False)
crime_2 = crime_2.drop(27)
crime_2.head(6)

         Soort misdrijf  12-24    25+  eindtotaal
26               Overig   6968  17562       24530
20       Winkeldiefstal   5674  15356       21030
11         Mishandeling   3467   9771       13238
10           Bedreiging   1981   7061        9042
22  Onder invloed (weg)   2151   6104        8255
21          Drugshandel   2691   5473        8164

In [111]:
#Making a new names from the original: 

data.rename(columns={'2015.2':'12-24~ 2015',
                     '2016.2':'12-24~ 2016',
                     '2017.2':'12-24~ 2017',
                     '2018.2':'12-24~ 2018',
                     '2019.2':'12-24~ 2019',
                     '2015.3':'+25~ 2015',
                     '2016.3':'+25~ 2016',
                     '2017.3':'+25~ 2017',
                     '2018.3':'+25~ 2018',
                     '2019.3':'+25~ 2019'}, inplace=True)
data.columns

data_evolution = data[['Soort misdrijf','12-24~ 2015', '12-24~ 2016',
       '12-24~ 2017', '12-24~ 2018', '12-24~ 2019', '+25~ 2015', '+25~ 2016',
       '+25~ 2017', '+25~ 2018', '+25~ 2019']]

data_evolution.head()

,Soort misdrijf,12-24~ 2015,12-24~ 2016,12-24~ 2017,12-24~ 2018,12-24~ 2019,+25~ 2015,+25~ 2016,+25~ 2017,+25~ 2018,+25~ 2019
0,Diefstal/inbraak woning,191,130,152,119,102,259,183,141,151,156
1,Diefstal/inbraak box/garage/schuur/tuinhuis,18,11,10,4,7,15,14,14,23,10
2,Diefstal uit/vanaf motorvoertuigen,144,108,128,96,60,118,75,75,73,88
3,Diefstal van motorvoertuigen,54,42,36,43,44,59,36,46,49,31
4,"Diefstal van brom-, snor-, fietsen",265,207,167,113,106,401,391,268,239,190

In [112]:
data_evolution['AVG_crimes_year'] = data_evolution[['12-24~ 2015', '12-24~ 2016',
       '12-24~ 2017', '12-24~ 2018', '12-24~ 2019', '+25~ 2015', '+25~ 2016',
       '+25~ 2017', '+25~ 2018', '+25~ 2019']].mean(axis=1)

data_evolution.sort_values('AVG_crimes_year', ascending=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Soort misdrijf,12-24~ 2015,12-24~ 2016,12-24~ 2017,12-24~ 2018,12-24~ 2019,+25~ 2015,+25~ 2016,+25~ 2017,+25~ 2018,+25~ 2019,AVG_crimes_year
27,Totaal,8460,7628,7077,6166,6588,18816,17525,16142,14684,14664,11775.0
26,Overig,1496,1427,1463,1193,1389,3672,3699,3795,3214,3182,2453.0
20,Winkeldiefstal,1102,1106,1104,1076,1286,2928,3075,3159,3016,3178,2103.0
11,Mishandeling,883,789,668,584,543,2422,2199,1882,1661,1607,1323.8
10,Bedreiging,527,483,367,286,318,1892,1604,1194,1151,1220,904.2
16,Overige vermogensdelicten,982,813,726,588,582,1381,1173,974,861,817,889.7
22,Onder invloed (weg),482,435,433,380,421,1310,1244,1193,1169,1188,825.5
21,Drugshandel,649,571,521,482,468,1337,1124,1073,992,947,816.4
17,Vernieling cq. zaakbeschadiging,383,369,318,298,278,852,815,745,648,701,540.7
23,Horizontale fraude,186,171,183,174,175,402,366,301,288,302,254.8
4,"Diefstal van brom-, snor-, fietsen",265,207,167,113,106,401,391,268,239,190,234.7
19,Diefstal/inbraak bedrijven en instellingen,195,144,121,111,128,271,231,221,207,232,186.1
0,Diefstal/inbraak woning,191,130,152,119,102,259,183,141,151,156,158.4
5,Zakkenrollerij,107,104,112,96,101,263,245,233,173,130,156.4
12,Straatroof,213,201,135,160,198,111,98,72,78,75,134.1
7,Zedenmisdrijf,77,54,65,44,56,217,223,172,145,119,117.2
8,"(poging) moord, doodslag",60,69,55,58,60,198,196,144,145,141,112.6
9,Openlijk geweld (persoon),136,173,123,94,107,112,119,90,80,82,111.6
18,Huisvredebreuk,43,32,43,25,33,167,216,172,160,150,104.1
2,Diefstal uit/vanaf motorvoertuigen,144,108,128,96,60,118,75,75,73,88,96.5
25,Overige fraude,153,86,46,45,34,287,82,52,35,29,84.9
3,Diefstal van motorvoertuigen,54,42,36,43,44,59,36,46,49,31,44.0
13,Overval,47,36,51,54,50,31,22,28,30,20,36.9
6,Diefstal af/uit/van overige voertuigen,43,35,25,27,16,38,21,25,39,13,28.2
15,Brand/ontploffing,10,22,16,11,20,44,40,42,31,36,27.2
1,Diefstal/inbraak box/garage/schuur/tuinhuis,18,11,10,4,7,15,14,14,23,10,12.6
24,Verticale fraude,2,5,5,2,4,15,18,16,12,13,9.2
14,Diefstallen (water),12,5,4,3,2,14,16,15,14,7,9.2

In [113]:
#Is there a evolution in: Winkeldiefstal, mishandeling, drugshandel, onder invloed
winkeldiefstal = data_evolution[data_evolution['Soort misdrijf'] == 'Winkeldiefstal']
winkeldiefstal

,Soort misdrijf,12-24~ 2015,12-24~ 2016,12-24~ 2017,12-24~ 2018,12-24~ 2019,+25~ 2015,+25~ 2016,+25~ 2017,+25~ 2018,+25~ 2019,AVG_crimes_year
20,Winkeldiefstal,1102,1106,1104,1076,1286,2928,3075,3159,3016,3178,2103.0

In [114]:
lst_crime = ['Winkeldiefstal', 'Mishandeling', 'Drugshandel', 'Onder invloed (weg)']
high_crimes = data_evolution[data_evolution['Soort misdrijf'].isin(lst_crime)]
high_crimes = high_crimes.sort_values(by=['AVG_crimes_year'], ascending=False)
high_crimes

,Soort misdrijf,12-24~ 2015,12-24~ 2016,12-24~ 2017,12-24~ 2018,12-24~ 2019,+25~ 2015,+25~ 2016,+25~ 2017,+25~ 2018,+25~ 2019,AVG_crimes_year
20,Winkeldiefstal,1102,1106,1104,1076,1286,2928,3075,3159,3016,3178,2103.0
11,Mishandeling,883,789,668,584,543,2422,2199,1882,1661,1607,1323.8
22,Onder invloed (weg),482,435,433,380,421,1310,1244,1193,1169,1188,825.5
21,Drugshandel,649,571,521,482,468,1337,1124,1073,992,947,816.4

In [115]:
high_crimes['high_crimes_jongeren_per'] = (high_crimes['12-24~ 2019'] / high_crimes['12-24~ 2015']-1)*100

In [116]:
high_crimes['high_crimes_ouderen_per'] = (high_crimes['+25~ 2019'] / high_crimes['+25~ 2015']-1)*100

In [117]:
high_crimes

,Soort misdrijf,12-24~ 2015,12-24~ 2016,12-24~ 2017,12-24~ 2018,12-24~ 2019,+25~ 2015,+25~ 2016,+25~ 2017,+25~ 2018,+25~ 2019,AVG_crimes_year,high_crimes_jongeren_per,high_crimes_ouderen_per
20,Winkeldiefstal,1102,1106,1104,1076,1286,2928,3075,3159,3016,3178,2103.0,16.696915,8.538251
11,Mishandeling,883,789,668,584,543,2422,2199,1882,1661,1607,1323.8,-38.505096,-33.649876
22,Onder invloed (weg),482,435,433,380,421,1310,1244,1193,1169,1188,825.5,-12.655602,-9.312977
21,Drugshandel,649,571,521,482,468,1337,1124,1073,992,947,816.4,-27.889060,-29.169783

In [118]:
#Total crimes per year jongeren
total_2015_jongeren = data_evolution['12-24~ 2015'].sum()
total_2016_jongeren = data_evolution['12-24~ 2016'].sum()
total_2017_jongeren = data_evolution['12-24~ 2017'].sum()
total_2018_jongeren = data_evolution['12-24~ 2018'].sum()
total_2019_jongeren = data_evolution['12-24~ 2019'].sum()

In [119]:
#Total crimes per year 25-plussers
total_2015_ouderen = data_evolution['+25~ 2015'].sum()
total_2016_ouderen = data_evolution['+25~ 2016'].sum()
total_2017_ouderen = data_evolution['+25~ 2017'].sum()
total_2018_ouderen = data_evolution['+25~ 2018'].sum()
total_2019_ouderen = data_evolution['+25~ 2019'].sum()

test_one =total_2015_ouderen+total_2016_ouderen+total_2017_ouderen+total_2018_ouderen+total_2019_ouderen 
test_one

163662