In [4]:
#dependent samples - before/after
import pandas as pd
import numpy as np 

blood_pressure = pd.read_csv('blood_pressure.csv')
blood_pressure.describe()

#Matched pair because we have tested 100 people each time.

           before       after
count  100.000000  100.000000
mean   136.536953   99.236700
std     10.189314    9.060200
min    115.033831   74.009544
25%    129.054274   93.117525
50%    136.734185   99.235306
75%    144.625304  106.303905
max    161.566769  119.103335

In [ ]:
MUd = Mubefore - MuAfter
H0: Mud = 0 # equal
H1: MUd != 0 # not equal to 

#First we need to say what Âµ is. 
#site = docs.scipy.org/doc/scipy/reference/stats.html

In [9]:
from scipy.stats import ttest_rel
# rel = related = dependend
# Ttest comes from Student's Test
#blood_ressure.iloc[0,0]) is for selecting the first element. 

ttest_rel(blood_pressure.after, blood_pressure.before)

#This is for a one tailed test. 
#First we set the column after & column before as last. 
#Is there a significant increase or decrease? 
#Statistic number you can see the direction.

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

99.23670008065476

In [11]:
# independent (no matched pair)
ab_test = pd.read_csv('ab_test.csv')
ab_test.head(10)

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90
5   4.77  10.83
6   2.56  10.70
7   7.24  15.57
8   7.30  10.42
9   0.86  18.90

In [12]:
ab_test.a.mean()

9.355400000000001

In [13]:
ab_test.b.mean()

12.466

In [ ]:
H0 = Mu1 == Mu2
H1 = Mu1 != Mu2

#Mu = mean/AVG
#then you go again to the libary.

In [17]:
from scipy.stats import ttest_ind
ttest_ind(ab_test.b, ab_test.a, equal_var=True)

#Important that you assume (=aannemen) equal variances ---> tricky but important!
#P_value is low enough to reject H0 because P is lower dan 0.05

Ttest_indResult(statistic=2.637533181209767, pvalue=0.009713140852447347)

In [18]:
import numpy as np 
# standard deviation = square root of the variance 

np.std(ab_test.a)

5.182653069615985

In [19]:
np.std(ab_test.b)

6.426014939291691

In [20]:
from scipy.stats import ttest_ind
ttest_ind(ab_test.b, ab_test.a, equal_var=False)

# Under the hood it does the Welch Test

Ttest_indResult(statistic=2.637533181209767, pvalue=0.009776243024828825)

In [21]:
from scipy.stats import ttest_ind
ttest_ind(ab_test.b, ab_test.b, equal_var=True)

#Example when there is no significant difference.

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [ ]:
# Number of samples need to be the same!!